<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="InaiProject.TeacherApp.t_assistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="InaiProject.TeacherApp.t_assistant.main.database.Register"></activity>
        <activity android:name="InaiProject.TeacherApp.t_assistant.main.AppBase" />
        <activity android:name="InaiProject.TeacherApp.t_assistant.main.Login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="InaiProject.TeacherApp.t_assistant.main.profile.ProfileActivity"
            android:parentActivityName="InaiProject.TeacherApp.t_assistant.main.AppBase" />
        <activity
            android:name="InaiProject.TeacherApp.t_assistant.main.profile.StudentRegistration"
            android:parentActivityName="InaiProject.TeacherApp.t_assistant.main.profile.ProfileActivity" />
        <activity
            android:name="InaiProject.TeacherApp.t_assistant.main.notes.NoteCreate"
            android:parentActivityName="InaiProject.TeacherApp.t_assistant.main.notes.NoteActivity" />
        <activity
            android:name="InaiProject.TeacherApp.t_assistant.main.attendance.AttendanceActivity"
            android:parentActivityName="InaiProject.TeacherApp.t_assistant.main.AppBase" />
        <activity
            android:name="InaiProject.TeacherApp.t_assistant.main.components.ResultActivity"
            android:parentActivityName="InaiProject.TeacherApp.t_assistant.main.components.CgpaActivity" />
        <activity
            android:name="InaiProject.TeacherApp.t_assistant.main.components.CgpaActivity"
            android:parentActivityName="InaiProject.TeacherApp.t_assistant.main.AppBase" />
        <activity
            android:name="InaiProject.TeacherApp.t_assistant.main.notes.NoteActivity"
            android:parentActivityName="InaiProject.TeacherApp.t_assistant.main.AppBase" />
        <activity
            android:name="InaiProject.TeacherApp.t_assistant.main.schedule.Scheduler"
            android:parentActivityName="InaiProject.TeacherApp.t_assistant.main.AppBase" />
        <activity
            android:name="InaiProject.TeacherApp.t_assistant.main.schedule.CreateScheduleActivity"
            android:parentActivityName="InaiProject.TeacherApp.t_assistant.main.schedule.Scheduler" />
        <activity
            android:name="InaiProject.TeacherApp.t_assistant.main.components.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="InaiProject.TeacherApp.t_assistant.main.AppBase" />
        <activity
            android:name="InaiProject.TeacherApp.t_assistant.main.components.About"
            android:parentActivityName="InaiProject.TeacherApp.t_assistant.main.AppBase" />
        <activity
            android:name="InaiProject.TeacherApp.t_assistant.main.profile.EditStudentActivity"
            android:parentActivityName="InaiProject.TeacherApp.t_assistant.main.AppBase" />
    </application>

</manifest>